.logo img{
    max-width: 120px; 
   }
   .cadre1{
   
       float: right;
   }
   .cadre2{
       margin: 0; padding: 0;
       height: 50px;
       color: red;
       font-size: 35px;
       font-family: Arial, Helvetica, sans-serif;
       text-align: center;
       letter-spacing: 1px;
       border-radius: 50px;
       font-weight: bold;
   }
   .t1{
       color: white;
       word-spacing: 50px;
       cursor: pointer;
   }
   .dark{
       background-color: black;
       height: 30px;
   }
   .menu p{
   color: white;
   font-size: large;
   cursor: pointer;
   }
   .menu a{
    text-decoration: none;
    color: white;
   }
   /*  premiere partie  */
   .contenair h1{
    text-align: center;
    margin-left: 100px;
   }
   .nos p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: 60px;
    color: rgb(63, 63, 241);
    }
    /* a propos 134 */
/*vous etes decide? 50*/
.nous h1{
    color: rgb(63, 63, 241);
}